body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  max-width: 60em;
  color: #333;
}


.first-box-container {
  width: 420px;
  height: 200px;
  margin-top: 10px;
  padding: 10px;
  background-color: #e0ebeb;
  position: absolute;
}

.second-box-container {
  width: 420px;
  height: 200px;
  margin-top: 10px;
  padding: 10px;
  background-color: #e0ebeb;
  position: absolute;
  left: 900px;
}

.third-box-container {
  width: 420px;
  height: 200px;
  margin-top: 10px;
  padding: 10px;
  background-color: #e0ebeb;
  position: absolute;
  top: 450px;

}

.fourth-box-container {
  width: 420px;
  height: 200px;
  margin-top: 10px;
  padding: 10px;
  background-color: #e0ebeb;
  position: absolute;
  top: 450px; left: 900px; 
}
